<ion-view title="Hangout Details" id="page6">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class="list card manual-card-fullwidth" id="hangoutDetails-card22">
      <div style="font-size: 0.75em; color: grey; text-align: right; padding-right: 5px; text-decoration: underline;">{{item.postDateTime | date:'MMM dd, yyyy \| hh:mm a'}}</div>
      <ion-list id="hangoutDetails-list7">
        <ion-item id="hangoutDetails-list-item39" class="cardtitle center">{{item.hangoutName}}</ion-item>
        <ion-item class="item-avatar" id="hangoutDetails-list-item40">
          <img src="img/Bne5LjbMSLKlVRcSwzCU_cartoonman.jpg">
          <h2>Hosted by: {{item.hostName}}</h2>
        </ion-item>
        <ion-item class="item-icon-left" id="hangoutDetails-list-item49">
          <i class="icon ion-calendar"></i>{{item.hangoutDate | date:'EEEE, MMMM dd'}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutDetails-list-item42">
          <i class="icon ion-android-time"></i>{{item.hangoutStartTime | date:'h:mm a'}} - {{item.hangoutEndTime | date:'h:mm a'}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutDetails-list-item41">
          <i class="icon ion-location"></i>{{item.location}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutDetails-list-item44">
          <i class="icon ion-ios-people"></i>Max Guests: {{item.maxGuests}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutDetails-list-item50" href="mailto:{{item.email}}">
          <i class="icon ion-email"></i>{{item.email}} </ion-item>
        <ion-item class="item-icon-left" id="hangoutDetails-list-item47" href="tel:{{item.phoneNumber}} ">
          <i class="icon ion-android-call"></i>{{item.hostName}} {{item.phoneNumber}} </ion-item>
      </ion-list>
    </div>
    <div id="hangoutDetails-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{item.description}} </p>
    </div>
  </ion-content>
</ion-view>