<ion-view title="Hangouts Details" hide-back-button="true" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back" ui-sref="hangouts"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class="list card manual-card-fullwidth" id="hangoutsDetails-card23">
      <div style="font-size: 0.75em; color: grey; text-align: right; padding-right: 5px; text-decoration: underline;">{{item.postDateTime | date:'MMM dd, yyyy \| hh:mm a'}}</div>
      <ion-list id="hangoutsDetails-list2">
        <ion-item id="hangoutsDetails-list-item26" class="cardtitle center">{{item.hangoutName}}</ion-item>
        <ion-item class="item-avatar" id="hangoutsDetails-list-item27">
          <img src="img/QSfQoLI0QHWQVgkdJu2K_cartoonman.jpg">
          <h2>Hosted by: {{item.hostName}}</h2>
        </ion-item>
        <ion-item class="item-icon-left" id="hangoutsDetails-list-item28">
          <i class="icon ion-calendar"></i>{{item.hangoutDate | date:'EEEE, MMMM dd'}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutsDetails-list-item29">
          <i class="icon ion-android-time"></i>{{item.hangoutStartTime | date:'h:mm a'}} - {{item.hangoutEndTime | date:'h:mm a'}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutsDetails-list-item30">
          <i class="icon ion-location"></i>{{item.location}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutsDetails-list-item31">
          <i class="icon ion-ios-people"></i>Max Guests: {{item.maxGuests}}</ion-item>
        <ion-item class="item-icon-left" id="hangoutsDetails-list-item32" href="mailto:{{item.email}}">
          <i class="icon ion-email"></i>{{item.email}} </ion-item>
        <ion-item class="item-icon-left" id="hangoutsDetails-list-item33" href="tel: {{item.phoneNumber}} ">
          <i class="icon ion-android-call"></i>{{item.hostName}} {{item.phoneNumber}} </ion-item>
        <ion-item class="item-icon-left" id="hangoutsDetails-list-item34">
          <i class="icon ion-close-circled"></i>
						<button class="button button-block button-assertive" ng-click="deleteHangout()">
							Delete
						</button>
          </ion-item>
      </ion-list>
    </div>
    <div id="hangoutsDetails-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{item.description}} </p>
    </div>
		<div class="list">
				<div class="item item-avatar item-button-right" ng-repeat="(guestUid, guest) in item.guests">
					<img src="{{ guest.photoURL }}">
					<h2>{{ guest.displayName }}</h2>
					<p>Back off, man. I'm a super-duper uber booger.</p>
						<button class="button button-clear button-assertive" ng-show="guestUid == user.uid" ng-click="leaveHangout()">
							<i class="icon ion-close-circled"></i>
						</button>
				</div>
		</div>
  </ion-content>
</ion-view>