<ion-view title="Hangouts" hide-back-button="true" id="page2" style="background-color:#FAFAFA;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-add" ng-click="makeHangout()"> Make</button>
  </ion-nav-buttons>
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="hangouts-markdown11" ng-if="!(mobileCheckService)" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#E94B42;">Tip: Mootli is optimized for mobile experience</p>
    </div>
    <div id="hangouts-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#575757;">Showing the latest hangouts near you</p>
    </div>
    <div class="list card" id="hangouts-card22" ng-repeat="item in items | orderBy: '-postDateTime' track by item.$id">
      <div style="font-size: 0.75em; color: grey; text-align: right; padding-right: 5px; text-decoration: underline;">{{item.postDateTime | date:'MMM d, yyyy \| h:mm a'}}</div>
      <ion-list id="hangouts-list1">
        <ion-item id="hangouts-list-item15" class="cardtitle center">{{item.hangoutName}}</ion-item>
        <div class="item item-body" id="hangouts-list-item-container4">
          <ion-list id="hangouts-list6">
            <ion-item class="item-avatar" id="hangouts-list-item12">
              <img src="{{ item.hostPhotoURL || 'img/wZLvOIXSOSonQmET3pu7_cartoonman.jpg' }}">
              <h2>Hosted by: {{item.hostName}}</h2>
            </ion-item>
            <ion-item class="item-icon-left" id="hangouts-list-item13">
              <i class="icon ion-calendar"></i>{{item.hangoutDate | date:'EEEE, MMMM dd'}}</ion-item>
            <ion-item class="item-icon-left" id="hangouts-list-item14">
              <i class="icon ion-android-time"></i>{{item.hangoutStartTime | date:'h:mm a'}} - {{item.hangoutEndTime | date:'h:mm a'}}</ion-item>
            <ion-item class="item-icon-left" id="hangouts-list-item16">
              <i class="icon ion-location"></i>{{item.location}}</ion-item>
            <ion-item class="item-icon-left" id="hangouts-list-item17">
              <i class="icon ion-ios-people"></i>Guests: {{getGuestCount(item)}}/{{item.maxGuests}}</ion-item>
            <ion-item id="hangouts-list-item18">{{item.description}}</ion-item>
          </ion-list>
          <button id="hangouts-button1" ng-click="joinHangout(item)" class="button button-positive button-large button-block">Join</button>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>