<ion-view title="Mootli FAQ" id="page9" style="background-color:#FAFAFA;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back" ui-sref="hangouts"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
<!--    <div class="list card manual-card-fullwidth" id="mootliFAQ-card24">-->
    <div class="list card manual-card-fullwidth" id="mootliFAQ-card24" style="margin: 0;">
      <div class="item item-body" id="mootliFAQ-list-item-container2">
        <div class="item item-body" id="mootliFAQ-list-item-container3">
          <h1 id="mootliFAQ-heading1" style="color:#000000;text-align:center;">Why Mootli?</h1>
          <div id="mootliFAQ-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Mootli's core value is happiness. Our mission is very simple. Connecting you to people you want to be connected with.</p>
          </div>
          <div class="spacer" style="width: 308px; height: 20px;"></div>
          <h1 id="mootliFAQ-heading2" style="color:#000000;text-align:center;">What is Mootli?</h1>
          <div id="mootliFAQ-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Mootli is a mobile app to help you find nearby, like-minded friends wherever you go. Instantly.</p>
          </div>
          <div class="spacer" style="width: 308px; height: 20px;"></div>
          <h1 id="mootliFAQ-heading3" style="color:#000000;text-align:center;">Example?</h1>
          <div id="mootliFAQ-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Long day at work? Create a hangout to grab a drink and vent with like-minded locals.</p>

            <p style="color:#000000;">Can't find enough people to join you for a boardgame night? Create a hangout to let local boardgamers know.</p>

            <p style="color:#000000;">At a convention and don't know anyone? Create a hangout to create your own small group to hang with.</p>

            <p style="color:#000000;">Interested locals will see your hangout instantly and easily join you with the tap of a button!</p>
          </div>
          <div class="spacer" style="width: 308px; height: 20px;"></div>
          <h1 id="mootliFAQ-heading4" style="color:#000000;text-align:center;">How?</h1>
          <div id="mootliFAQ-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Why not start by creating a hangout now! ;)</p>
          </div>
          <div class="spacer" style="width: 308px; height: 20px;"></div>
          <button id="mootliFAQ-button9" ng-click="routeBasedOnUserStatus('make', 'making a hangout')" class="button button-positive  button-block">Create a hangout</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>